<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home</title>
</head>

<body>
    <h1>
        This is an index page
    </h1>

    {% if user.is_authenticated %}
    <h2> Your name is {{ user.username }}</h2>
    {% else %}
    <h2>Not logged in</h2>
    {% endif %}

    <a href="http://localhost:8000/accounts/logout/">Logout</a>

</body>

</html>